{% include 'base.html' %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="1500" height="480"></canvas>


      <h2>Rainfall Activities</h2>


        {% block scripts %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>

            <tr>
              <th>Millimeters:</th>
              <th>Level:</th>
              <th>Time:</th>
            </tr>
          </thead>
            {% for i in qs %}
          <tbody>
            <tr>
              <td>{{i.amount}}</td>
              <td>{{i.level}}</td>
              <td>{{i.timestamp}}</td>
            {% endfor %}
            </tr>

          </tbody>
        </table>
      </div>
    </main>


        <script>

            (function () {
  // Graphs
  var ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for i in qs %}'{{i.timestamp}}',{% endfor %}],
      datasets: [{
        label: 'Rainfall Graph',
        data: [{% for i in qs %}'{{i.amount}}',{% endfor %}],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })
}())

{% endblock scripts %}
        </script>