{% include 'base.html' %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="2000" height="450"></canvas>


      <h2>Rainfall Activities</h2>


        {% block scripts %}

      <div class="table-responsive" style="width: 500px;">


          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                 <li class="page-item">
                    {% if page_obj.has_previous %}
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                </li>
                  <li class="page-item active">
                  <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                  </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </li>
              </ul>
          </nav>


        <table class="table table-sm">
          <thead class="thead-dark">

            <tr>
              <th>Millimeters:</th>
              <th>Level:</th>
              <th>Time:</th>
            </tr>
          </thead>
            {% for i in res %}
          <tbody>
            <tr>
              <td>{{i.amount}}</td>
              <td>{{i.level}}</td>
              <td>{{i.timestamp}}</td>
            {% endfor %}
            </tr>

          </tbody>
        </table>
      </div>
    </main>


        <script>

            (function () {

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [{% for i in qs %}'{{i.timestamp}}',{% endfor %}],
      datasets: [{
        label: 'Rainfall Graph',
        data: [{% for i in qs %}'{{i.amount}}',{% endfor %}],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#c9c5c5',
        borderWidth: 2,
        pointRadius: 1,

      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })
}());


{% endblock scripts %}
        </script>